body { margin: 0; padding: 0; }

#map { position:absolute; top:0; bottom:0; width:100%; }

.circle-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	background-color: rgba(0,255,255,0.2);
	/*background-color: none;*/
	border: solid 1px rgba(0,255,255,0.9);
	/*opacity: 0.5;*/
}