body { 
	margin: 0; 
	padding: 0; 
	background-color: black;
}

#map { 
	position:absolute; top:0; bottom:0; width:100%; 
	background-color: black;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.strong {
	font-weight: bold;
}

#title {
	position: relative;
	text-align: center;
	top: 15px;

	z-index: 20;
	padding: 12px;
	border-radius: 3px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
	letter-spacing: 1px;
}

#about {
	position: absolute;
	top: 25px;
	right: 4%;

	z-index: 20;
	padding: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 3px;
	/*background-color: rgba(255,255,255,0.1);*/
	/*background-color: rgba(0,0,0,0.3);*/

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 10px;
	color: rgba(255,255,255,0.8);
	letter-spacing: 1px;
	border: 1px solid rgba(255,255,255,0.6);
	cursor:pointer;
}

#about:hover { 
    background-color: rgba(255,255,255,0.3);
    /*color: black;*/
}


#slogan {
	position: absolute;
	left: 30px;
	top: 70px;

	z-index: 20;
	padding: 12px;
	border-radius: 3px;
	/*background-color: rgba(255,255,255,0.1);*/
	/*background-color: rgba(0,0,0,0.3);*/

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: white;
	letter-spacing: 1px;
}

.circle-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	background-color: rgba(0,255,255,0.2);
	border: solid 1px rgba(0,255,255,0.9);
}

#about_container {
	position: absolute;
	text-align: center;
	z-index: 20;
	left: 4%;
	top: 30%;
	height: 40%;
	padding: 1%;
	padding-top: 2%;
	/*bottom: 10px;*/
	border-radius: 10px;

	width: 90%;
	/*height: 120px; */
	background-color: rgba(0,0,0,0.5);
	border: solid 1px rgba(0,255,255,0);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	/*visibility: hidden;*/
}

#container {
	position: absolute;
	z-index: 20;
	left: 4%;
	bottom: 10px;
	border-radius: 10px;

	width: 92%;
	height: 120px; 
	background-color: rgba(0,0,0,0.5);
	border: solid 1px rgba(0,255,255,0);
	visibility: hidden;
}

#close_button {
	position: absolute;
	width: 18px;
	height: 18px;
	opacity: 0.6;
	top: 31%;
	right: 5%;
	z-index: 24;
}

#close_button:hover {
	opacity: 1;
}

a {
	text-decoration: none;
	color: white;
}