body { 
	margin: 0; 
	padding: 0; 
	background-color: black;
	color: rgba(255,255,255,0.9);
}

#diagram {
	position: absolute;
	/*width: 430px;*/
	top: 33%;
	right: 10%;
	height: 53%;

	/*left: 80%;*/

}

#map { 
	position:absolute; top:0; bottom:0; width:100%; 
	background-color: black;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.strong {
	font-weight: bold;
}

#title {
	position: relative;
	text-align: center;
	top: 15px;

	z-index: 20;
	padding: 12px;
	border-radius: 3px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
	letter-spacing: 1px;
	opacity: 1;
}

#about {
	position: absolute;
	top: 25px;
	right: 4%;

	z-index: 20;
	padding: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 3px;
	/*background-color: rgba(255,255,255,0.1);*/
	/*background-color: rgba(0,0,0,0.3);*/

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 10px;
	color: rgba(255,255,255,0.8);
	letter-spacing: 1px;
	border: 1px solid rgba(255,255,255,0.6);
	cursor:pointer;
}

#about:hover { 
    background-color: rgba(255,255,255,0.3);
    /*color: black;*/
}


#slogan {
	position: absolute;
	left: 30px;
	top: 70px;

	z-index: 20;
	padding: 12px;
	border-radius: 3px;
	/*background-color: rgba(255,255,255,0.1);*/
	/*background-color: rgba(0,0,0,0.3);*/

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: white;
	letter-spacing: 1px;
}

#heading {
	position: relative;
	font-size: 16px;
	font-weight: 300;
	color: rgba(255,255,255,1);
	/*color: #0361FB;*/
	padding: 2%;

	/*width: 48%;*/
	width: 96%;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

#contents {
	position: relative;
	left: 10%;
	width: 46%;
	top: 20px;
}

.circle-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	background-color: rgba(0,255,255,0.2);
	border: solid 1px rgba(0,255,255,0.9);
}

#about_container {
	position: absolute;
	text-align: left;
	z-index: 20;
	left: 4%;
	top: 22%;
	height: 300px;
	padding: 3%;
	/*padding-top: 2%;*/
	border-radius: 10px;

	width: 86%;
	/*height: 300px; */
	background-color: rgba(0,0,0,0.63);
	border: solid 2px rgba(255,255,255,0.3);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 170%;
	/*visibility: hidden;*/
}

#container {
	position: absolute;
	z-index: 20;
	left: 4%;
	bottom: 15px;
	border-radius: 10px;

	width: 92%;
	height: 120px; 
	background-color: rgba(0,0,0,0.63);
	border: solid 1px rgba(0,255,255,0);
	visibility: hidden;
}

#close_button {
	position: absolute;
	width: 13px;
	height: 13px;
	opacity: 0.8;
	top: 24%;
	right: 5%;
	z-index: 24;
}

#close_button:hover {
	opacity: 1;
}

a {
	text-decoration: none;
	color: white;
}

.leaflet-top .leaflet-control {
	top: 25px;
}

.leaflet-left .leaflet-control {
	left: 0px;
}

.leaflet-left {
	left: 4%;
}

.leaflet-bar, .leaflet-control-layers {
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.9);
	border-color: rgba(255,255,255,0.9);
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	color: rgba(255,255,255,0.9) !important;
}

.leaflet-container.dark .leaflet-bar {
	background-color: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.4);
}

.leaflet-container.dark .leaflet-bar a {
	border-color: rgba(255,255,255,0.1);
}

.leaflet-container.dark .leaflet-bar a.leaflet-disabled, .leaflet-container.dark .leaflet-control .mapbox-button.disabled {
	background-color: rgba(255,255,255,0.1);
}

.leaflet-container.dark .leaflet-bar a:active, .leaflet-container.dark .leaflet-bar a:hover {
	background-color: rgba(255,255,255,0.4);
}