.legend {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
}

.legend2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 11px;
}



#tooltip {   
/*	background: rgba(0,0,0,0.7);
	border-color: rgba(0,0,0,0.7);*/

	background: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.1);

	background-clip: padding-box;
	border-radius: 4px;
	border-style: solid;
	border-width: 3px;
	letter-spacing: 1px;

	color: rgba(255,255,255,0.9);

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	/*font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	z-index: 400;
	white-space: nowrap;
	text-transform:capitalize;
	visibility: hidden;
}