.legend {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
}

.legend2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 11px;
}